[tool.poetry]
name = "impunity"
version = "0.1.0"
description = "Static checking for consistency of physical units"
authors = ["Antoine Chevrot <antoine.chevrot@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.8"
Pint = ">=0.19.2"
astor = "^0.8.1"
typing-extensions = { version=">=4.2.0,<5.0.0", python="<3.10" }

[tool.poetry.dev-dependencies]
black = ">=21.6"
mypy = ">=0.981"
isort = "^5.11.2"
flake8 = ">=5.0"
numpy = "^1.23.5"
coverage = "^7.0.0"
codecov = "^2.1.12"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target_version = ['py38', 'py39', 'py310', 'py311']
include = '\.pyi?$'
exclude = '''
/(
    __pycache__
  | \.git
  | \.mypy_cache
  | \.ipynb_checkpoints
  | build
  | dist
)/
'''

[tool.isort]
line_length = 120
profile = "black"
known_first_party = ["numpy", "pandas"]

[tool.coverage.run]
source = ["src"]
